@model IEnumerable<MovieMania.Models.Film>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Films</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Catalog" asp-action="Add" class="btn btn-primary">
                Add New Movie
            </a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Genre
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        ImageUrl
                    </th>
                    <th>
                        TrailerUrl
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="10%">@obj.FilmId</td>
                        <td width="10%">@obj.Title</td>
                        <td width="10%">@obj.Description</td>
                        <td width="10%">@obj.Genre</td>
                        <td width="10%">@obj.Rating</td>
                        <td width="10%">@obj.ImageUrl</td>
                        <td width="10%">@obj.TrailerUrl</td>
                        <td width="10%"><a asp-controller="Catalog" asp-action="Delete" class="btn btn-danger">Delete Movie</a></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No movies to display.</p>
    }
</div>

